:root {
    --color-1: #450920;
    --color-2: #a53860;
    --color-3: #da627d;
    --color-4: #ffa5ab;
    --color-5: #fbe7d9;

}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'LEMONMILK';
    src: url('fonts/LEMONMILK-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LEMONMILK';
    src: url('fonts/LEMONMILK-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'BoldFont';
    src: url('./fonts/THEBOLDFONT-FREEVERSION.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family:'Roboto';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
    font-weight:normal;
}

@font-face {
    font-family:'Mont';
    src: url('./fonts/Mont-HeavyDEMO.otf') format('opentype');
    font-weight:bold;
}

@font-face {
    font-family:'Mont';
    src: url('./fonts/Mont-ExtraLightDEMO.otf') format('opentype');
    font-weight:lighter;
}

main {
    width: min(65ch, 100% - 4rem);
    margin-inline: auto;
}

body {
    font-family: system-ui;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    background-color: var(--color-5);
    color: var(--color-1);

    text-align: center;
}

img {
    max-width: 100%;
    border-radius: 12px;
}


/* Headings */
h2 {
    font-family: Mont;
    font-size: 4rem;

}

/* header */
header {
    
    display: block;
    padding: 3rem;
    color: var(--color-5);


    /* Wavy Border */
    --mask:
    radial-gradient(78.26px at 50% calc(100% - 105px),#000 99%,#0000 101%) calc(50% - 70px) 0/140px 100%,
    radial-gradient(78.26px at 50% calc(100% + 70px),#0000 99%,#000 101%) 50% calc(100% - 35px)/140px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    
}

header .bg-img {
    pointer-events: none;   /* disables clicks/taps */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;


    background: linear-gradient(to top, var(--color-1), #ffffff00),
    url("./Images/Fire and Water/ACA0B08D-7180-411C-8931-4260C059E26A.JPG");
      box-sizing: border-box;
    background-position: center;
    background-size: cover;

    z-index: -1;
}


.port-link a {
    text-align: left;
    color: var(--color-1);
    text-decoration: none;

    /* font */
    font-weight: bold;
    font-family: BoldFont;

    transition: all 0.3s ease;
}
.port-link a:hover {
    color: var(--color-3);
}

.port-link {
    margin-left: 3rem;
}


header .title {
    padding: 5rem;
    animation: slideIn 1s ease;
}
/* Header */
header .title h1 {
    /* font */
    font-family: Mont;
    font-size: 8rem;
    white-space: nowrap;
    margin-bottom: 0;
    transition: all 0.3s ease;
}

header .title h2 {
    /* font */
    margin-top: 0;
    font-family: Mont;
    font-size: 1.8rem;
    font-weight:lighter;
    white-space: nowrap;
}

@keyframes slideIn {
    0% {
        opacity:0;
        transform: translateY(-20%);
    }

    50% {
        transform: translateY(2%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-12-12 3:11:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-12-12 18:10:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}



header h1:hover {
    color: var(--color-2);
    cursor: pointer;
}

header .navlink {
    /* Font */
    font-family: Mont;
    font-weight: Bold;
    font-size: 2rem;

    /* Align */
    display: inline-block;
    margin-inline: 5rem;


	animation: flip-in-hor-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    

}

header a {
    text-decoration: none;
    color: var(--base-color);
    transition: all 0.3s ease;
}

header a:hover {
    color: var(--color-2);
}


/* Link at bottom */

.link-section {
    margin-bottom: 4rem;
}

.link-section a {
    margin-inline: 2rem;
    
}
.link {
    display:inline-block;
    transition: all 0.3s ease;
}

.link:hover {
    transform: translateY(-10%);
    filter:drop-shadow(2px 2px 2px);
}

.link:active {
    transform: translateY(0);
    filter: none;
}

.link-section img {
    width: 64px;
}





/* image grid */
.grid {
    --columns: 3;

    column-count: var(--columns);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    padding-inline: 2rem;
}

.grid img,
.grid video {
    width: 100%;
    display: inline-block;
    border-radius: 0px;
}

/* Scroll to top button */
.scrollToTop {
    font-size: 2rem;
    opacity:0;
    text-decoration: none;
    /* colors */
    color: var(--color-5);
    background-color: var(--color-2);

        /* padding */
        padding: .5rem 6rem;
        border-radius: 5rem;

        /* center button */
        position: fixed;
        right:0;           /* start at the horizontal center */
        transform: translateY(-50%);
        bottom: 0;
        z-index: 9999;
        pointer-events: none;

        /* margins */
        margin-inline: 1rem;
        margin-bottom: 1rem;

        /* transition */
        transition: all 0.5s ease;
}

.scrollToTop.visible {
    /* animation */
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.scrollToTop:hover {
    background-color: var(--color-4);
    color: var(--color-1);
}

/* fade-section */
.fade-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
    opacity: 0;
    /* start invisible */
    transform: translateY(20px);
    /* slight offset for effect */
    transition: opacity 1s ease, transform 1s ease;
}

.fade-section.visible {
    opacity: 1;
    transform: translateY(0);
    /* slide into place */
}

/* default content wrapper */
.wrapper {
    max-width: 60rem;
    margin-inline: auto;
    padding-inline: auto;
    display: inline-block;
    text-align:center;
}

/* Lightbox overlay */
.lightbox {
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.4s ease;
}

#lightbox.show {
    display: flex;
    /* make visible */
    opacity: 1;
    /* fade in */
}

/* Centered content */
.lightbox-content {
    text-align: center;
    max-width: 90%;
}

/* Image styling */
.lightbox-content img {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    display: block;
    margin: 0 auto;


    animation: slideIn 1s ease;
}

/* Caption styling */
#lightbox-caption {
    color: #fff;
    font-size: 1rem;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    opacity: 0.85;
}

.zoomable {
    transition: all 0.3s ease;
}

.zoomable:hover {
    cursor: pointer;
    filter:contrast(110%) brightness(110%);
}



/* --- Footer --- */
footer {
    color: var(--color-5);
    bottom: 0;
    /* pins to the bottom of the screen */
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
    background: var(--color-1);
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
    font-size: 0.9rem;
}

.text-img {
    display: flex;
    align-items: center;
    /* vertically align text with image */
    gap: 2rem;
    /* space between image and text */

}

.text-img img {
    width: 30rem;
    height: auto;
    /* control image size */
}

/* Style tab links */
.tablink {
  background-color: var(--color-2);
  color: var(--color-5);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;

  font-size: 1.5rem;
  font-family: Mont;
  font-weight: bold;
  width: 25%;

  transition: all 0.3s ease;
}

.tablink:hover {
  background-color: var(--color-3);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: var(--color-5);
  background-color: var(--color-1);
  display: none;
  padding: 100px 20px;
  height: 100%;
}


.tabcontent h1,
.tabcontent h2,
.tabcontent h3 {
    font-family: Mont; 
    font-weight:bold;
    font-size: 3rem;
}























/* Adjust to fit media */
@media (max-width:900px) 
{
    .grid {
     column-count:2;
    }

    .text-img {
        display: block;
    }

    header .title{
        padding: 0rem;
    }

    header .title h1 {
        font-size: 4.2rem;
    }

    header .title h2 {
        font-size: 1.4rem;
        white-space:inherit;
    }

    header .navlink {
        font-size: 1.5rem;
        display:inline-block;
        margin-inline:.5rem;
    }

    .link-section img {
        width: 48px;
    }

    .scrollToTop {
        padding: .5rem 3rem;
    }
}

@media (max-width:600px) 
{
    .grid {
     column-count:1;
    }
}